<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Motel/Motel_Direita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,1068}</string>
                <key>spriteSourceSize</key>
                <string>{532,1068}</string>
                <key>textureRect</key>
                <string>{{1,1},{532,1068}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Motel/Motel_Esquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,1149}</string>
                <key>spriteSourceSize</key>
                <string>{532,1149}</string>
                <key>textureRect</key>
                <string>{{535,1},{532,1149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Motel/Motel_Frente</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1376,567}</string>
                <key>spriteSourceSize</key>
                <string>{1376,567}</string>
                <key>textureRect</key>
                <string>{{1,1152},{1376,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InvasaoZumbi-015.png</string>
            <key>size</key>
            <string>{1378,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6640cd12a5785b9ca0c146363a7661d5:3917df8af5abd28024c95b580461738a:627057d1cc968632c3a702b6e3161dbb$</string>
            <key>textureFileName</key>
            <string>InvasaoZumbi-015.png</string>
        </dict>
    </dict>
</plist>
