<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ambiente_RuaTDireita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{1108,794}</string>
                <key>spriteSourceSize</key>
                <string>{1250,1250}</string>
                <key>textureRect</key>
                <string>{{1,1},{1108,794}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambiente_RuaTEsquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{1108,792}</string>
                <key>spriteSourceSize</key>
                <string>{1250,1250}</string>
                <key>textureRect</key>
                <string>{{1,797},{1108,792}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1111,797},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1251,797},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1391,797},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1531,797},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1671,797},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1811,797},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{140,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1,1591},{140,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{143,1591},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{140,182}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{283,1591},{140,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{138,182}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{425,1591},{138,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{565,1591},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{707,1591},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{849,1591},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{140,182}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{991,1591},{140,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{140,182}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1133,1591},{140,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{140,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1275,1591},{140,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{140,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1417,1591},{140,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1559,1591},{142,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{142,186}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1703,1591},{142,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{140,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1847,1591},{140,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{142,186}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1,1779},{142,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{142,186}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{145,1779},{142,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{289,1779},{142,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{433,1779},{142,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{577,1779},{142,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{140,182}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{721,1779},{140,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{140,182}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{863,1779},{140,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1005,1779},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1147,1779},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{140,178}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1289,1779},{140,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{140,178}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1431,1779},{140,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{140,178}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1573,1779},{140,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{140,178}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1715,1779},{140,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Andar/Baixo/Chefe_AndarBaixo_033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{138,180}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{1857,1779},{138,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InvasaoZumbi-02.png</string>
            <key>size</key>
            <string>{1996,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6640cd12a5785b9ca0c146363a7661d5:3917df8af5abd28024c95b580461738a:627057d1cc968632c3a702b6e3161dbb$</string>
            <key>textureFileName</key>
            <string>InvasaoZumbi-02.png</string>
        </dict>
    </dict>
</plist>
