<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dinner/Dinner_Esquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,717}</string>
                <key>spriteSourceSize</key>
                <string>{502,717}</string>
                <key>textureRect</key>
                <string>{{1,1},{502,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dinner/Dinner_Frente</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,427}</string>
                <key>spriteSourceSize</key>
                <string>{916,427}</string>
                <key>textureRect</key>
                <string>{{505,1},{916,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dinner/Dinner_Tras</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,440}</string>
                <key>spriteSourceSize</key>
                <string>{916,440}</string>
                <key>textureRect</key>
                <string>{{1,720},{916,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosBaixo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{919,720},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosBaixoDireita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{975,720},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosBaixoEsquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{1037,720},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosCima</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{1099,720},{56,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosCimaDireita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{1157,720},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosCimaEsquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{1219,720},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosDireita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{1281,720},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Itens_KitPrimeirosSocorrosEsquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{288,162}</string>
                <key>textureRect</key>
                <string>{{1321,720},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Loja/Loja_Direita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,934}</string>
                <key>spriteSourceSize</key>
                <string>{471,934}</string>
                <key>textureRect</key>
                <string>{{1361,720},{471,934}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InvasaoZumbi-012.png</string>
            <key>size</key>
            <string>{1833,1655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6640cd12a5785b9ca0c146363a7661d5:3917df8af5abd28024c95b580461738a:627057d1cc968632c3a702b6e3161dbb$</string>
            <key>textureFileName</key>
            <string>InvasaoZumbi-012.png</string>
        </dict>
    </dict>
</plist>
