<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ambiente_RuaCantoEsquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{557,401}</string>
                <key>spriteSourceSize</key>
                <string>{625,625}</string>
                <key>textureRect</key>
                <string>{{1,1},{557,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambiente_RuaRetaBaixo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{281,401}</string>
                <key>spriteSourceSize</key>
                <string>{625,625}</string>
                <key>textureRect</key>
                <string>{{560,1},{281,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambiente_RuaRetaCima</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,3}</string>
                <key>spriteSize</key>
                <string>{281,395}</string>
                <key>spriteSourceSize</key>
                <string>{625,625}</string>
                <key>textureRect</key>
                <string>{{843,1},{281,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambiente_RuaRetaDireita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{557,207}</string>
                <key>spriteSourceSize</key>
                <string>{625,625}</string>
                <key>textureRect</key>
                <string>{{1126,1},{557,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambiente_RuaRetaEsquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,18}</string>
                <key>spriteSize</key>
                <string>{557,207}</string>
                <key>spriteSourceSize</key>
                <string>{625,625}</string>
                <key>textureRect</key>
                <string>{{1,404},{557,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambiente_RuaTBaixo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{1108,794}</string>
                <key>spriteSourceSize</key>
                <string>{1250,1250}</string>
                <key>textureRect</key>
                <string>{{560,404},{1108,794}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambiente_RuaTCima</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{1108,794}</string>
                <key>spriteSourceSize</key>
                <string>{1250,1250}</string>
                <key>textureRect</key>
                <string>{{1,1200},{1108,794}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InvasaoZumbi-01.png</string>
            <key>size</key>
            <string>{1684,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6640cd12a5785b9ca0c146363a7661d5:3917df8af5abd28024c95b580461738a:627057d1cc968632c3a702b6e3161dbb$</string>
            <key>textureFileName</key>
            <string>InvasaoZumbi-01.png</string>
        </dict>
    </dict>
</plist>
