<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Loja/Loja_Esquerda</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,936}</string>
                <key>spriteSourceSize</key>
                <string>{471,936}</string>
                <key>textureRect</key>
                <string>{{1,1},{471,936}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Loja/Loja_Tras</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1264,381}</string>
                <key>spriteSourceSize</key>
                <string>{1264,381}</string>
                <key>textureRect</key>
                <string>{{1,939},{1264,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Loja/Loja_frente</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1263,348}</string>
                <key>spriteSourceSize</key>
                <string>{1263,348}</string>
                <key>textureRect</key>
                <string>{{474,1},{1263,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mecanico/Mecanico_Direita</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,662}</string>
                <key>spriteSourceSize</key>
                <string>{513,662}</string>
                <key>textureRect</key>
                <string>{{1267,939},{513,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InvasaoZumbi-013.png</string>
            <key>size</key>
            <string>{1781,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6640cd12a5785b9ca0c146363a7661d5:3917df8af5abd28024c95b580461738a:627057d1cc968632c3a702b6e3161dbb$</string>
            <key>textureFileName</key>
            <string>InvasaoZumbi-013.png</string>
        </dict>
    </dict>
</plist>
